@charset "utf-8";

body{
    background-color:#ffffc8;
}
ul{
    display: flex;
    padding-left: 0%;
}
li{
    list-style: none;
}
.honbun {
    color:black;
    font-size:20px;
    text-align: center;
}
.daimei{
    font-size:50px;
    color:#0000ff;
    text-align:center;
}
.menu-bar{
    position: relative;
    font-size: 30px;
    text-align: center;
    align-items: center;
    margin-right: 4vw;
    margin-top: 2vh;
    display: inline-block;
}
.menu-bar a{
    width: 8vw;
    height: 7vh;
    color: black;
    background-color: white;
    text-decoration: none;
    justify-content: center;
}
nav{
    text-align: center;
    box-sizing: border-box;
    background-color: turquoise;
    height: 11vh;
    width: 100%;
}
.menubartitle{
    position: relative;
    font-size: 20px;
    text-align: center;
    display: inline;
    margin-left: 2vw;
    margin-right: 3vw;
}