@charset "utf-8";

body{
    background-color:#ffffc8;
}
ul{
    display: flex;
    padding-left: 0%;
}
li{
    list-style: none;
}
.honbun {
    color:black;
    font-size:20px;
    text-align: center;
}
.subtitle{
    font-size:35px;
    color:#0000ff;
    text-align:center;
}
.menu-bar{
    position: relative;
    font-size: 3vw;
    text-align: center;
    align-items: center;
    margin-right: 2vw;
    margin-top: 1vw;
    display: inline-block;
}
.menu-bar a{
    width: 8vw;
    height: 6vh;
    color: black;
    background-color: white;
    text-decoration: none;
    justify-content: center;
}
#thispage a{
    background-color: #bfbfbf;
}
nav{
    text-align: center;
    box-sizing: border-box;
    background-color: turquoise;
    height: 6vw;
    width: 100%;
}
.menubartitle{
    position: relative;
    font-size: 3vw;
    display: inline-block;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
}
.menubartitle p{
    margin-top: 0;
    color: red;
}