@charset "utf-8";

body{
    background-color:#ffffc8;
}
ul{
    display: flex;
}
li{
    list-style: none;
}
.honbun {
    color:black;
    font-size:20px;
    text-align: center;
}
.daimei{
    font-size:50px;
    color:#0000ff;
    text-align:center;
}
.menu-bar{
    position: relative;
    font-size: 20px;
    text-align: center;
    margin-right: 10vw;
    display: inline;
}
.menu-bar a{
    width: 8vw;
    color: black;
    background-color: white;
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 50%;
}